.usersList {
    display: flex;
    justify-content:center;
    margin-bottom: 1vh;
}

.titleAndButton {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 2vh;
}